* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  font-family: "Montserrat", -apple-system, sans-serif;
  font-size: 2rem;
  background-color: beige;
  text-align: center;
}

#container {
  display: auto;
  padding-top: 100px;
  padding-bottom: 100px;
  padding-left: 50px;
  padding-right: 50px;
}

#counterDiv {
text-align: center;
align-items: center;
justify-content: center;
}

#result {
  display: block;
  font-size: 5em;
  padding: 20px;
  margin-bottom: 70px;
}

.increase {
    justify-content: space-between;
    font-size: 5rem;
  margin: 2rem;
  border: 3px solid #0a0a23;
  background-color: transparent;
  border-radius: 15px;
  padding: 30px;
  cursor: pointer;
}

.decrease {
    justify-content: space-between;
    font-size: 5rem;
  margin: 2rem;
  border: 3px solid #0a0a23;
  background-color: transparent;
  border-radius: 15px;
  padding: 30px;
  cursor: pointer;
}

.reset {
    justify-content: space-between;
    font-size: 5rem;
  margin: 2rem;
  border: 3px solid #0a0a23;
  background-color: transparent;
  border-radius: 15px;
  padding: 30px;
  cursor: pointer;
}

.increase:active, .decrease:active, .reset:active  {
    background-color: green; 
    transition: 1s;
  }

/* .increase:hover {
    background-color: green; 
    transition: 0.5s;
} */

@media only screen and (max-width: 480px) {
  body {
    font-size: 90%;
    width: 100%;
    height: 80%;
  }

  #paragraph {
    font-size: large;
  }

  .increase, .decrease, .reset {
    display: flex-row;
    font-size: 2rem;
    margin: .75rem;
    padding: 15px;
  }
}
